*{
margin :0;
box-sizing: border-box;
}
.section1{
    height: 500px;
    width: 500px;
    border: 1px solid green;
    margin: 50px auto 0 auto;
}
.cuadrado{
    width: 100px;
    height: 100px;
    background-color: violet;
    /* transform: scale(1.1, 2); */
    /* deg = grados */
    /* transform: rotate(45deg); */
}
.cuadrado:hover{
    transform: scale(1.2) rotate(45deg);
    filter: blur(5px);
}
.circulo{
    width: 100px;
    height: 100px;
    background-color: darkred;
    margin: auto;
    border-radius: 50%;
    /* translate (x , y) */
    /* transform: translate(50px, -50px); */
    /* al colocar % se toma como referencia el valor del tamaño del elemento
    ejemplo:100% => 100px */
    transform: translate(100%, 100%);
}