*{
margin :0;
box-sizing: border-box;
}
.section1{
    width: 500px;
    height: 500px;
    border-radius: 40px;
    /* border: 2px solid blue; */
    box-shadow: black 0px 0px 20px;
    margin: 50px auto 0 auto;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.section1:hover{
    border-radius: 5px;
}
.cuadrado{
    width: 100px;
    height: 100px;
    background-color: crimson;
    /* transition: all 2s ease-in; */
    transition: margin 2s ease-in;
}
/* .cuadrado:hover{
    /* width: 100%;
    border-radius: 50%;
    margin: 0 auto;
} */
/* Cuando se este haciendo hover en el .section1, el elemento interno
que lleve la clase .cuadrado sufrira los cambios */
.section1:hover .cuadrado{
    border-radius: 50%;
    margin: 0 0 0 200px;
}
.section2{
    width: 500px;
    height: 500px;
    border-radius: 40px;
    /* border: 2px solid blue; */
    box-shadow: black 0px 0px 20px;
    margin: 50px auto 0 auto;
    overflow: hidden;
}
.section2:hover{
    box-shadow:rgb(255, 158, 171) 0px 0px 20px;
}
.persiana{
    background-color: crimson;
    transition: all 1.5s ease-in-out;
    /* al darle altura empiza a bajar el color */
    height: 0px;
}
.section2:hover .persiana{
    height: 500px;   
}